version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    target-branch: master
    schedule:
      interval: weekly
      day: tuesday
    open-pull-requests-limit: 20
    reviewers:
      - "mongodb/mongocli"
    ignore:
      - dependency-name: "go.mongodb.org/atlas-sdk/*"
    groups:
      golang:
        patterns:
          - "golang.org*"
      kubernetes:
        patterns:
          - "*k8s.io*"
      google:
        patterns:
          - "*google.golang.org*"
      aws:
        patterns:
          - "github.com/aws*"
      azure:
        patterns:
          - "github.com/Azure*"
      containers:
        patterns:
          - "github.com/containers*"
  - package-ecosystem: github-actions
    directory: "/"
    target-branch: master
    schedule:
      interval: weekly
      day: tuesday
    reviewers:
      - "mongodb/mongocli"
    groups:
      docker:
        patterns:
          - "docker*"
  - package-ecosystem: gomod
    directory: "/"
    target-branch: mongocli-master
    schedule:
      interval: weekly
      day: tuesday
    open-pull-requests-limit: 20
    reviewers:
      - "mongodb/mongocli"
    groups:
      golang:
        patterns:
          - "golang.org*"
      kubernetes:
        patterns:
          - "*k8s.io*"
      google:
        patterns:
          - "*google.golang.org*"
      aws:
        patterns:
          - "github.com/aws*"
      azure:
        patterns:
          - "github.com/Azure*"
  - package-ecosystem: github-actions
    directory: "/"
    target-branch: mongocli-master
    schedule:
      interval: weekly
      day: tuesday
    reviewers:
      - "mongodb/mongocli"
    groups:
      docker:
        patterns:
          - "docker*"