# Rename this file to e2e.env to allow mongoCLI to load env variables.

# HOSTNAME contains the name of the host that is running the automation agent.
# Examples:
# HOSTNAME=localhost
# HOSTNAME=ec2-35-173-241-20.compute-1.amazonaws.com

HOSTNAME=localhost
