{{>partial_header}}
package {{packageName}}

import (
	"context"
	"github.com/spf13/cobra"
	"go.mongodb.org/atlas-sdk/admin"
	"{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/cli"
)

{{#operations}}
{{#operation}}
type {{operationId}}Opts struct {
	cli.GlobalOpts
	cli.OutputOpts
	client *admin.APIClient
	{{#pathParams}}
	{{paramName}} {{{dataType}}}
	{{/pathParams}}
	{{#queryParams}}
	{{paramName}} {{{dataType}}}
	{{/queryParams}}
}

func (opts *{{operationId}}Opts) initClient(ctx context.Context) func() error {
	return func() error {
		var err error
		opts.client, err = NewClientWithAuth()
		return err
	}
}

func (opts *{{operationId}}Opts) Run(ctx context.Context) error {
	params := &admin.{{operationId}}ApiParams{
		{{#pathParams}}
		{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}: opts.{{paramName}},
		{{/pathParams}}
		{{#queryParams}}
		{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}: opts.{{paramName}},
		{{/queryParams}}
	}
	{{#returnType}}resp, {{/returnType}}_, err := opts.client.{{classname}}.{{operationId}}WithParams(ctx, params).Execute()
	if err != nil {
		return err
	}

	return opts.Print({{#returnType}}resp{{/returnType}}{{^returnType}}nil{{/returnType}})
}

func {{operationId}}Builder() *cobra.Command {
	const template = "<<some template>>"

	opts := {{operationId}}Opts{}
	cmd := &cobra.Command{
		Use:     "{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}",
		// Aliases: []string{"?"},
		Short:   "{{ summary }}",
		Long:    fmt.Sprintf(usage.RequiredRole, "Project Read Only"), // how to tell?
		Args:    require.NoArgs,
		Annotations: map[string]string{
			"output":      template,
		},
		PreRunE: func(cmd *cobra.Command, args []string) error {
			return opts.PreRunE(
				//opts.ValidateProjectID,
				opts.initClient(cmd.Context()),
				opts.InitOutput(cmd.OutOrStdout(), template),
			)
		},
		RunE: func(cmd *cobra.Command, args []string) error {
			return opts.Run(cmd.Context())
		},
	}
{{#pathParams}}
	cmd.Flags().{{#lambda.titlecase}}{{dataType}}{{/lambda.titlecase}}Var(&opts.{{paramName}}, "{{paramName}}", {{defaultValue}}, "{{description}}")
{{/pathParams}}
{{#queryParams}}
	cmd.Flags().{{#lambda.titlecase}}{{dataType}}{{/lambda.titlecase}}Var(&opts.{{paramName}}, "{{paramName}}", {{defaultValue}}, "{{description}}")
{{/queryParams}}
{{#pathParams}}{{#required}}
	_ = cmd.MarkFlagRequired("{{paramName}}"){{/required}}{{/pathParams}}
{{#queryParams}}{{#required}}
	_ = cmd.MarkFlagRequired("{{paramName}}"){{/required}}{{/queryParams}}
	return cmd
}
{{/operation}}
{{/operations}}

func {{baseName}}Builder() *cobra.Command {
{{#operations}}
{{#operation}}
{{#-first}}
	cmd := &cobra.Command{
		Use:     "{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}",
		Short:   "{{#tags}}{{#-first}}{{description}}{{/-first}}{{/tags}}",
	}
	cmd.AddCommand(
{{/-first}}
		{{operationId}}Builder(),
{{/operation}}
{{/operations}}
	)
	return cmd
}
