{{>partial_header}}
package {{packageName}}

import (
	"context"
	"os"
	"time"

	"github.com/spf13/cobra"
	"go.mongodb.org/atlas-sdk/v20230201008/admin"
	"{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/cli"
)

{{#operations}}
{{#operation}}
type {{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}Opts struct {
	cli.GlobalOpts
	cli.OutputOpts
	client *admin.APIClient
	{{#allParams}}
	{{^isBodyParam}}{{paramName}} {{{dataType}}}{{/isBodyParam}}
	{{/allParams}}
}

func (opts *{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}Opts) initClient() func() error {
	return func() error {
		var err error
		opts.client, err = newClientWithAuth()
		return err
	}
}

func (opts *{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}Opts) Run(ctx context.Context) error {
	params := &admin.{{operationId}}ApiParams{
		{{#allParams}}
		{{^isBodyParam}}{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}: {{#isDateTime}}convertTime({{/isDateTime}}{{^isPathParam}}&{{/isPathParam}}opts.{{paramName}}{{#isDateTime}}){{/isDateTime}},{{/isBodyParam}}
		{{/allParams}}
	}
	{{#returnType}}resp, {{/returnType}}_, err := opts.client.{{classname}}.{{operationId}}WithParams(ctx, params).Execute()
	if err != nil {
		return err
	}

	return opts.Print({{#returnType}}resp{{/returnType}}{{^returnType}}nil{{/returnType}})
}

func {{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}Builder() *cobra.Command {
	const template = "<<some template>>"

	opts := {{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}Opts{}
	cmd := &cobra.Command{
		Use: "{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}",
		Short: "{{ summary }}",
		Annotations: map[string]string{
			"output":      template,
		},
		PreRunE: func(cmd *cobra.Command, args []string) error {
			return opts.PreRunE(
				opts.initClient(),
				opts.InitOutput(cmd.OutOrStdout(), template),
			)
		},
		RunE: func(cmd *cobra.Command, args []string) error {
			return opts.Run(cmd.Context())
		},
	}
{{#allParams}}
	{{^isBodyParam}}cmd.Flags().{{#isArray}}{{#lambda.titlecase}}{{baseType}}{{/lambda.titlecase}}Slice{{/isArray}}{{^isArray}}{{#lambda.titlecase}}{{dataType}}{{/lambda.titlecase}}{{/isArray}}Var(&opts.{{paramName}}, "{{paramName}}", {{#isDateTime}}""{{/isDateTime}}{{#isString}}"{{/isString}}{{^defaultValue}}{{#isArray}}nil{{/isArray}}{{#isNumeric}}0{{/isNumeric}}{{#isInteger}}0{{/isInteger}}{{#isShort}}0{{/isShort}}{{#isLong}}0{{/isLong}}{{#isUnboundedInteger}}0{{/isUnboundedInteger}}{{#isNumber}}0{{/isNumber}}{{#isFloat}}0{{/isFloat}}{{#isDouble}}0{{/isDouble}}{{#isDecimal}}0{{/isDecimal}}{{#isBoolean}}false{{/isBoolean}}{{/defaultValue}}{{defaultValue}}{{#isString}}"{{/isString}}, `{{unescapedDescription}}`){{/isBodyParam}}
{{/allParams}}
{{#bodyParam}}{{#vars}}
	cmd.Flags().{{#isArray}}{{#lambda.titlecase}}{{baseType}}{{/lambda.titlecase}}Slice{{/isArray}}{{^isArray}}{{#lambda.titlecase}}{{dataType}}{{/lambda.titlecase}}{{/isArray}}Var(&opts.{{baseName}}, "{{baseName}}", {{#isDateTime}}""{{/isDateTime}}{{#isString}}"{{/isString}}{{^defaultValue}}{{#isArray}}nil{{/isArray}}{{#isNumeric}}0{{/isNumeric}}{{#isInteger}}0{{/isInteger}}{{#isShort}}0{{/isShort}}{{#isLong}}0{{/isLong}}{{#isUnboundedInteger}}0{{/isUnboundedInteger}}{{#isNumber}}0{{/isNumber}}{{#isFloat}}0{{/isFloat}}{{#isDouble}}0{{/isDouble}}{{#isDecimal}}0{{/isDecimal}}{{#isBoolean}}false{{/isBoolean}}{{/defaultValue}}{{defaultValue}}{{#isString}}"{{/isString}}, `{{unescapedDescription}}`)
{{/vars}}{{/bodyParam}}
{{#allParams}}{{^isBodyParam}}{{#required}}
	_ = cmd.MarkFlagRequired("{{paramName}}"){{/required}}{{/isBodyParam}}{{/allParams}}
	return cmd
}
{{/operation}}
{{/operations}}

func {{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}Builder() *cobra.Command {
{{#operations}}
{{#operation}}
{{#-first}}
	cmd := &cobra.Command{
		Use:     "{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}",
		Short:   `{{#tags}}{{#-first}}{{description}}{{/-first}}{{/tags}}`,
	}
	cmd.AddCommand(
{{/-first}}
		{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}Builder(),
{{/operation}}
{{/operations}}
	)
	return cmd
}

