name: Update PURLs list for dependabot prs

on:
  pull_request

permissions:
  pull-requests: write
  contents: write
  repository-projects: read
jobs:
  update-purls:
    name: Update PURLs
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
    - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      with:
        config: ${{ vars.PERMISSIONS_CONFIG }}
    - name: Set Apix Bot token
      id: app-token
      uses: mongodb/apix-action/token@6c3fde402c21942fa46cde003f190c2b23c59530
      with:
        app-id: ${{ secrets.APIXBOT_APP_ID }}
        private-key: ${{ secrets.APIXBOT_APP_PEM }}
    - name: Checkout code
      uses: actions/checkout@v6.0.2
      with:
        ref: ${{ github.head_ref }}
        token: ${{ steps.app-token.outputs.token }}
        fetch-depth: 0
    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - run: make gen-purls
    - name: Commit updated purls.txt if changed
      env:
        BRANCH_NAME: ${{ github.head_ref }}
      run: |
        echo "Changes to purls.txt:"
        if git diff --exit-code build/package/purls.txt; then
          echo "No changes to purls.txt"
        else 
          git config --global user.name "${{ steps.app-token.outputs.user-name }}"
          git config --global user.email "${{ steps.app-token.outputs.user-email }}"
          git add build/package/purls.txt
          git commit -m "chore: update purls.txt"
          git push origin "$BRANCH_NAME"
        fi
