---
name: E2E Tests
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tags:
          - e2e
          - atlas,autogeneration
          - atlas,backup,compliancepolicy
          - atlas,backup,flex
          - atlas,backup,exports,buckets
          - atlas,backup,exports,jobs
          - atlas,backup,restores
          - atlas,backup,schedule
          - atlas,backup,snapshot
          - atlas,clusters,file
          - atlas,clusters,flags
          - atlas,clusters,flex
          - atlas,clusters,m0
          - atlas,clusters,sharded
          - atlas,clusters,upgrade
          - atlas,datafederation,db
          - atlas,datafederation,privatenetwork
          - atlas,datafederation,querylimits
          # - atlas,decrypt # requires live calls to GCP/AWS/Azure
          # - atlas,deployments,atlasclusters # one assertion connects to DB (needs live mode)
          # - atlas,deployments,local,auth,deprecated # needs docker to run
          # - atlas,deployments,local,auth,new # needs docker to run
          # - atlas,deployments,local,nocli # needs docker to run
          # - atlas,deployments,local,noauth # needs docker to run
          - atlas,generic
          - atlas,interactive
          - atlas,ldap
          - atlas,livemigrations
          - atlas,logs
          - atlas,metrics
          - atlas,networking
          - atlas,onlinearchive
          - atlas,performanceAdvisor
          - atlas,plugin,install
          - atlas,plugin,run
          - atlas,plugin,uninstall
          - atlas,plugin,update
          - atlas,processes
          - atlas,search
          - atlas,search_nodes
          - atlas,serverless,instance
          - atlas,streams
          - atlas,streams_with_cluster
          - brew
          - config
          - atlas,iam
          - kubernetes
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: go install gotest.tools/gotestsum@latest
      - run: make e2e-test
        env:
          TEST_CMD: gotestsum --junitfile e2e-tests.xml --format standard-verbose --
          E2E_TAGS: ${{ matrix.tags }}
          DO_NOT_TRACK: 1
          UPDATE_SNAPSHOTS: false
          E2E_SKIP_CLEANUP: true
      - name: Test Summary
        if: always()
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86
        with:
          paths: e2e-tests.xml
